<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="KidzBrain"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">
        <activity
            android:name=".mapa_niveles"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.primerosegundo.ActividadLeccion1M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.primerosegundo.ActividadLeccion2M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.primerosegundo.ActividadLeccion3M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.tercerocuarto.ActividadLeccion4M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.tercerocuarto.ActividadLeccion5M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.tercerocuarto.ActividadLeccion6M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.quintosexto.ActividadLeccion7M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.quintosexto.ActividadLeccion8M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.matematicas.quintosexto.ActividadLeccion9M"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.primerosegundo.ActividadLeccion1C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.primerosegundo.ActividadLeccion1_2C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.primerosegundo.ActividadLeccion1_3C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.tercerocuarto.ActividadLeccion2_1C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.tercerocuarto.ActividadLeccion2_2C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.tercerocuarto.ActividadLeccion2_3C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.quintosexto.ActividadLeccion3_1C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.quintosexto.ActividadLeccion3_2C"
            android:exported="false" />
        <activity
            android:name="com.example.lecciones.ciencias.quintosexto.ActividadLeccion3_3C"
            android:exported="false" />
        <activity
            android:name="com.example.utilidades.leccionutil.ActividadLeccion"
            android:exported="false" />
        <activity
            android:name=".menuLateral.AjustesActivity"
            android:exported="false" />
        <activity
            android:name=".menuLateral.AvanceActivity"
            android:exported="false" />
        <activity
            android:name=".menuLateral.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".CrearCuenta"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>