<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="KidzBrain"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kidzbrain.juegos.fracciones.Cafeteria"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.MenuJuegos"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.utilidades.leccionutil.mapa_niveles"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.primerosegundo.ActividadLeccion1M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.primerosegundo.ActividadLeccion2M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.primerosegundo.ActividadLeccion3M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.tercerocuarto.ActividadLeccion4M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.tercerocuarto.ActividadLeccion5M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.tercerocuarto.ActividadLeccion6M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.quintosexto.ActividadLeccion7M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.quintosexto.ActividadLeccion8M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.quintosexto.ActividadLeccion9M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.primerosegundo.ActividadLeccion1C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.primerosegundo.ActividadLeccion1_2C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.primerosegundo.ActividadLeccion1_3C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.tercerocuarto.ActividadLeccion2_1C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.tercerocuarto.ActividadLeccion2_2C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.tercerocuarto.ActividadLeccion2_3C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.quintosexto.ActividadLeccion3_1C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.quintosexto.ActividadLeccion3_2C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.quintosexto.ActividadLeccion3_3C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.utilidades.leccionutil.ActividadLeccion"
            android:exported="false" />
        <activity
            android:name=".menuLateral.AjustesActivity"
            android:exported="false" />
        <activity
            android:name=".menuLateral.AvanceActivity"
            android:exported="false" />
        <activity
            android:name=".menuLateral.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".CrearCuentaActivity"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.cambio.MenuCambio"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.cambio.Cambio"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.pizzangulos.MenuPizza"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.pizzangulos.Pizza"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.canicas.Canicas"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.tanque.Tanque"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.tanque.MenuTanque"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>