<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.kidzbrain.utilidades.KidzBrainApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="KidzBrain"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RecuperarPasswordActivity"
            android:exported="false" />

        <receiver
            android:name="com.kidzbrain.notificaciones.RecordatorioReceiver"
            android:exported="false" />

        <activity
            android:name="com.kidzbrain.juegos.chicles.MenuChicles"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.chicles.Chicles"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.multiplosdivisores.MenuMultiplosD"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.multiplosdivisores.MultiplosDivisores"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kidzbrain.juegos.fracciones.Cafeteria"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.MenuJuegos"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.utilidades.leccionutil.mapa_niveles"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.primerosegundo.ActividadLeccion1_1M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.primerosegundo.ActividadLeccion1_2M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.primerosegundo.ActividadLeccion1_3M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.primerosegundo.ActividadLeccion1_4M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.tercerocuarto.ActividadLeccion2_4M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.tercerocuarto.ActividadLeccion2_1M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.tercerocuarto.ActividadLeccion2_2M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.tercerocuarto.ActividadLeccion2_3M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.quintosexto.ActividadLeccion3_1M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.quintosexto.ActividadLeccion3_2M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.quintosexto.ActividadLeccion3_3M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.matematicas.quintosexto.ActividadLeccion3_4M"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.primerosegundo.ActividadLeccion1C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.primerosegundo.ActividadLeccion1_2C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.primerosegundo.ActividadLeccion1_3C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.primerosegundo.ActividadLeccion1_4C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.tercerocuarto.ActividadLeccion2_1C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.tercerocuarto.ActividadLeccion2_2C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.tercerocuarto.ActividadLeccion2_3C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.tercerocuarto.ActividadLeccion2_4C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.quintosexto.ActividadLeccion3_1C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.quintosexto.ActividadLeccion3_2C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.quintosexto.ActividadLeccion3_3C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.lecciones.ciencias.quintosexto.ActividadLeccion3_4C"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.utilidades.leccionutil.ActividadLeccion"
            android:exported="false" />
        <activity
            android:name=".menuLateral.AjustesActivity"
            android:exported="false" />
        <activity
            android:name=".menuLateral.AvanceActivity"
            android:exported="false" />
        <activity
            android:name=".menuLateral.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".CrearCuentaActivity"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.cambio.MenuCambio"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.cambio.Cambio"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.pizzangulos.MenuPizza"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.pizzangulos.Pizza"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.canicas.Canicas"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.tanque.Tanque"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.tanque.MenuTanque"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.cuerpo.Cuerpo"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.sentidos.Sentidos"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.tresR.TresR"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.habitats.MenuAnimalesHabitat"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.habitats.JuegoAnimalesHabitatActivity"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.comida.MenuPedidosSaludables"
            android:exported="false" />
        <activity
            android:name="com.kidzbrain.juegos.comida.JuegoPedidosSaludablesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>